.main_header {
	background-color: #F0F1EF;
	background: -moz-linear-gradient(#F7F8F7, #EBECEB);
	background: -webkit-linear-gradient(#F7F8F7, #EBECEB);
	background: -ms-linear-gradient(#F7F8F7, #EBECEB);
	background: -o-linear-gradient(#F7F8F7, #EBECEB);
	background: linear-gradient(#F7F8F7, #EBECEB);
	border: 1px solid #E7E8E7;
	width: 918px;
	padding: 10px 10px 10px 20px;
	text-align: center;
	color: #3B82A8;
	font-size: 26px;
}

.red_border {
	border: 1px solid red;
}

.red_color {
	color: red;
	font-style: italic;
}
 
form {
	background-color: white;
	padding: 20px 50px 20px 50px;
}

form>label, form>select, form>input, form>textarea, form>table {
	float: left;
}

label {
	width: 250px;
	margin-bottom: 10px; 
}

select {
	width: 329px;
	padding: 5px;
	margin: 0 10px 10px 0;
}

form>input, textarea {
	width: 315px;
	padding: 5px;
	margin: 0 10px 10px 0;

}

table {
	text-align: center;
	margin-bottom: 10px;
	font-size: 15px;
}

table  td {
	padding: 0 5px 0 5px;
}

textarea {
	min-height: 100px;
	max-height: 400px;
	resize: vertical;
	font-family: 'PT Sans', sans-serif;
}

form>img {
	width: 100px;
	float: left;
	margin-top: 10px;
}

.photo_label {
	margin-top: 35px;
}

.del_photo {
	display: block;
	float: right;
	color: silver;
}

.del_photo:hover {
	color: #DB6969;
}

.add, .cancel {
	display: block;
	float: right;
	margin-left: 20px;
	color: white;	
	border-radius: 3px;
	padding: 5px 10px 5px 10px;
	font-size: 16px;
}

.add i, .cancel i {
	margin-right: 5px;
}

.add {
	background-color: #5FBE68;
	border: 0;
	font-family: 'Noto Sans', sans-serif;
}

.add:hover {
	background-color: #4E9D56;
	cursor: pointer;
}

.cancel {
	background-color: #D98575;
	margin-right: 187px;
}

.cancel:hover {
	background-color: #D96A53;
}


/*Стили всплывающего блока*/
#info_back {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.5;
}

#info_text {
	position: fixed;
	top: 200px;
	left: 50%;
	width: 500px;
	transform: translateX(-50%);
	box-shadow: 0 0 5px black;
	background-color: white;
}

.info_header {
	background-color: #149B49;
	padding: 10px 20px 10px 20px;
	color: white;
	font-size: 18px;
}

.info_main {
	text-align: center;
	padding: 20px;
}

.info_main  img {
	width: 75px;
}

.info_main p {
	font-weight: bold;
	font-size: 16px;
}

#info_close {
	background-color: #01882E;
	color: white;
	padding: 10px 0 10px 0;
	width: 100px;
	margin: 0 auto;
	margin-top: 30px;
}

#info_close:hover {
	cursor: pointer;
	background-color: #149B49;
}