@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i|Archivo+Black|Lobster');

* {
	margin: 0;
	padding:0;
	outline:none;
}

html, body {
	width:100%;
	height:100%;
}

body {
	font-family: 'Noto Sans', sans-serif;
	background-color: #F1F0ED;
}

a {
	text-decoration: none;
}

.animate {
	-ms-transition: all.4s ease;
	-o-transition: all.4s ease;
	-moz-transition: all.4s ease;
	-webkit-transition: all.4s ease;
	transition: all.4s ease;
}

.animate:hover {
	-ms-transition: all.4s ease;
	-o-transition: all.4s ease;
	-moz-transition: all.4s ease;
	-webkit-transition: all.4s ease;
	transition: all.4s ease;
}

#upward {
	position: fixed;
	bottom: 73px;
	right: 37px;
	background-color: #72AAD0;
	width: 58px;
	height: 58px;
	border-radius: 100%;
	z-index: 2;
	background: url(/img/default/upward.jpg) no-repeat;
	display: none;
}

#upward:hover {
	cursor: pointer;
	background: url(/img/default/upwardhover.jpg) no-repeat;
}

.clear {
	clear: both;
}

.active {
	border-bottom: 1px solid white;
}

.blue_background {
	background-color:#087BB4;
}

.silver_background {
	background-color: #F5F5F5;
}

.white_background {
	background-color: #fff;
}

.light_silver_background {
	background-color: #F5F5F5;
}

.azure_background {
	background-color: #5AA9D0;
}

.black_background {
	background-color: #4C4C4C;
}

.main {
	margin: 0 auto;
	width: 950px;
	box-shadow: 0 0 5px silver;
	margin-top: 20px;
	margin-bottom: 20px;
}

/*Шапка сайта*/

header {
	margin: 0 auto;
	width: 950px;
	padding: 25px 20px 20px 20px;
	background-color: #F5F5F5;
}

header>a {
	display: block;
	color: black;
	float:left;
}

header::after, .under_header::after, header a::after  {
	content: '';
	display: block;
	clear: both;
	height: 0;
}

header img, .cms {
	float: left;
}

.cms {
	font-size: 2.5em;
	margin-top: 20px;
	font-family: 'Lobster', cursive;
}

.salut {
	float: right;
	color: #087BB4;
	font-size: 18px;
	font-style: italic;
}

.salut>a {
	display: block;
	float: right;
	background-color: #D98575;
	color: white;
	padding: 3px 7px 3px 7px;
	margin-left: 10px;
	border-radius: 3px;
}

.salut>a:hover {
	background-color:  #D96A53;
}

.salut>a  i {
	margin-right: 5px;
}

.under_header {
	margin: 0 auto;
	width: 950px;
	padding: 15px 20px 15px 20px;
	background-color: #087BB4;
}

.nav {
	color: white;
	display: block;
	float: left;
	margin-right: 25px;
	padding: 10px 0 10px 0;
}

.nav:hover {
	color: #BBDFF9;
}

.under_header i {
	margin-right: 5px;
}

#auth {
	display: inline-block;
	height: 20px;
	width: 20px;
	background: url(/img/admin/auth.png);
}


.to_site {
	display: block;
	padding: 10px 15px 10px 15px;
	background-color: #5FBE68;
	color: white;
	float: right;
	border-radius: 5px;
}

.to_site:hover {
	background-color: #4E9D56;
}

/* Прикрепляем футер к низу */

#wrapper {
		display: flex;				/*Резиновый блок*/
		flex-direction: column;		/*Контент располагается сверху вниз*/
		height: 100%;				
}

#content {
	flex: 1 0 auto;  /*1-й параметр - flex-grow- дает нам прикрипление*/
}

/* Футер */

footer {
	margin: 0 auto;
	width: 950px;
	padding: 20px 20px 20px 20px;
	background-color: #4C4C4C;
	text-align: center;
	color: white;
}