@import "../../node_modules/lesshat/lesshat.less";
@font-face {
  font-family: 'MinionPro-Regular';
  src: url('/fonts/vatel/MinionPro-Regular/MinionPro-Regular.eot?#iefix') format('embedded-opentype'),
  url('/fonts/vatel/MinionPro-Regular/MinionPro-Regular.otf') format('opentype'),
  url('/fonts/vatel/MinionPro-Regular/MinionPro-Regular.woff') format('woff'),
  url('/fonts/vatel/MinionPro-Regular/MinionPro-Regular.ttf') format('truetype'),
  url('/fonts/vatel/MinionPro-Regular/MinionPro-Regular.svg#MinionPro-Regular') format('svg');
}
@font-face {
  font-family: 'TrebuchetMS';
  src: url('/fonts/vatel/TrebuchetMS/TrebuchetMS.eot?#iefix') format('embedded-opentype'),
  url('/fonts/vatel/TrebuchetMS/TrebuchetMS.woff') format('woff'),
  url('/fonts/vatel/TrebuchetMS/TrebuchetMS.ttf') format('truetype'),
  url('/fonts/vatel/TrebuchetMS/TrebuchetMS.svg#TrebuchetMS') format('svg');
}
@font-face {
  font-family: 'TrebuchetMS-Bold';
  src: url('/fonts/vatel/TrebuchetMS-Bold/TrebuchetMS-Bold.eot?#iefix') format('embedded-opentype'),
  url('/fonts/vatel/TrebuchetMS-Bold/TrebuchetMS-Bold.woff') format('woff'),
  url('/fonts/vatel/TrebuchetMS-Bold/TrebuchetMS-Bold.ttf') format('truetype'),
  url('/fonts/vatel/TrebuchetMS-Bold/TrebuchetMS-Bold.svg#TrebuchetMS-Bold') format('svg');
}
@font-face {
  font-family: 'TrebuchetMS-Italic';
  src: url('/fonts/vatel/TrebuchetMS-Italic/TrebuchetMS-Italic.eot?#iefix') format('embedded-opentype'),
  url('/fonts/vatel/TrebuchetMS-Italic/TrebuchetMS-Italic.woff') format('woff'),
  url('/fonts/vatel/TrebuchetMS-Italic/TrebuchetMS-Italic.ttf') format('truetype'),
  url('/fonts/vatel/TrebuchetMS-Italic/TrebuchetMS-Italic.svg#TrebuchetMS-Italic') format('svg');
}

.clearfix {
  &:after, &:before {
    clear: both;
    content: '';
    display: block;
    height: 0;
  }
}
//&:extend(.clearfix all);

* {
  word-wrap: break-word;
  outline: none;
}

// Модальное окно

.modal-content {
  .border-radius(0 0 0 0);
  border: 1px solid #2FACE5;
  background-color: #E0F3FB;
}

.modal-sm {
  width: 300px;
  margin: 30px auto;
}

.modal-body {
  p {
    font-weight: bold;
    font-size: 15px;
  }
  label {
    font-size: 12px;
    display: inline-block;
  }
  input[type="text"] {
    display: block;
    float: right;
  }
  .name, .tel {
    &:extend(.clearfix all);
    margin-bottom: 10px;
  }
  input[type="button"] {
    text-transform: uppercase;
    width: 165px;
    margin-top: 10px;
    background: url(/img/vatel/sprites.png) no-repeat;
    background-position: -281px -7px;
    border: none;
    padding: 9px 19px;
    color: white;
    font-size: 11px;
    font-weight: bold;
    &:hover {
      background: url(/img/vatel/sprites.png) no-repeat;
      background-position: -281px -43px;
    }
  }
}

// Шапка сайта

header {
  font-family: 'TrebuchetMS-Bold', 'Arial', sans-serif;
  background-color: #2F363E;
  color: #ffffff;
  .box-shadow(0 5px 4px #8C8C8C);
  .left {
    float: left;
    &:extend(.clearfix all);
    a, h1{
      display: block;
      float: left;
      @media screen and (max-width: 400px) {
        float: none;
        text-align: center;
      }
    }
    h1 {
      width: 334px;
      font-size: 25px;
      margin: 30px 0 0 10px;
      @media screen and (max-width: 992px) {
        width: 245px;
        font-size: 18px;
      }
      @media screen and (max-width: 400px) {
        width: 100%;
        margin: -10px 0 10px 0;
        font-size: 20px;
      }
    }
    img {
      @media screen and (max-width: 992px) {
        width: 95px;
        height: auto;
      }
      @media screen and (max-width: 400px) {
        width: auto;
        height: auto;
      }
    }
    @media screen and (max-width: 400px) {
      float: none;
    }
  }
  .right {
    float: right;
    &:extend(.clearfix all);
    .tel {
      float: right;
      font-size: 23px;
      line-height: 1;
      margin: 25px 15px 0 0;
      @media screen and (max-width: 992px) {
        font-size: 16px;
      }
      @media screen and (max-width: 720px) {
        clear: both;
        margin-top: 15px;
      }
      @media screen and (max-width: 554px) {
        float: right;
        clear: none;
        margin-top: 0;
      }
      @media screen and (max-width: 400px) {
        float: none;
        text-align: center;
      }
    }
    button {
      display: block;
      float: right;
      margin-top: 40px;
      background: url(/img/vatel/sprites.png) no-repeat;
      background-position: -279px -7px;
      border: none;
      padding: 6px 25px;
      &:hover {
        background: url(/img/vatel/sprites.png) no-repeat;
        background-position: -279px -43px;
      }
      @media screen and (max-width: 992px) {
        margin-top: 30px;
      }
      @media screen and (max-width: 554px) {
        margin-top: 6px;
      }
      @media screen and (max-width: 400px) {
        float: none;
        margin: 10px auto;
      }
    }
    @media screen and (max-width: 400px) {
      float: none;
    }
  }
}