@import "../../node_modules/lesshat/lesshat.less";
@font-face {
  font-family: 'MinionPro-Regular';
  src: url('/fonts/vatel/MinionPro-Regular/MinionPro-Regular.eot?#iefix') format('embedded-opentype'),
  url('/fonts/vatel/MinionPro-Regular/MinionPro-Regular.otf') format('opentype'),
  url('/fonts/vatel/MinionPro-Regular/MinionPro-Regular.woff') format('woff'),
  url('/fonts/vatel/MinionPro-Regular/MinionPro-Regular.ttf') format('truetype'),
  url('/fonts/vatel/MinionPro-Regular/MinionPro-Regular.svg#MinionPro-Regular') format('svg');
}
@font-face {
  font-family: 'TrebuchetMS';
  src: url('/fonts/vatel/TrebuchetMS/TrebuchetMS.eot?#iefix') format('embedded-opentype'),
  url('/fonts/vatel/TrebuchetMS/TrebuchetMS.woff') format('woff'),
  url('/fonts/vatel/TrebuchetMS/TrebuchetMS.ttf') format('truetype'),
  url('/fonts/vatel/TrebuchetMS/TrebuchetMS.svg#TrebuchetMS') format('svg');
}
@font-face {
  font-family: 'TrebuchetMS-Bold';
  src: url('/fonts/vatel/TrebuchetMS-Bold/TrebuchetMS-Bold.eot?#iefix') format('embedded-opentype'),
  url('/fonts/vatel/TrebuchetMS-Bold/TrebuchetMS-Bold.woff') format('woff'),
  url('/fonts/vatel/TrebuchetMS-Bold/TrebuchetMS-Bold.ttf') format('truetype'),
  url('/fonts/vatel/TrebuchetMS-Bold/TrebuchetMS-Bold.svg#TrebuchetMS-Bold') format('svg');
}
@font-face {
  font-family: 'TrebuchetMS-Italic';
  src: url('/fonts/vatel/TrebuchetMS-Italic/TrebuchetMS-Italic.eot?#iefix') format('embedded-opentype'),
  url('/fonts/vatel/TrebuchetMS-Italic/TrebuchetMS-Italic.woff') format('woff'),
  url('/fonts/vatel/TrebuchetMS-Italic/TrebuchetMS-Italic.ttf') format('truetype'),
  url('/fonts/vatel/TrebuchetMS-Italic/TrebuchetMS-Italic.svg#TrebuchetMS-Italic') format('svg');
}

// Шапка сайта

header {
  font-family: 'TrebuchetMS-Bold', 'Arial', sans-serif;
  background-color: #2F363E;
  color: #ffffff;
  .box-shadow(0 5px 20px #8C8C8C);
  padding: 20px 0;
}