@font-face {
  font-family: 'great_vibesregular';
  src: url('/fonts/test/greatvibes-regular-webfont.eot');
  src: url('/fonts/test/greatvibes-regular-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/test/greatvibes-regular-webfont.woff2') format('woff2'), url('/fonts/test/greatvibes-regular-webfont.woff') format('woff'), url('/fonts/test/greatvibes-regular-webfont.ttf') format('truetype'), url('/fonts/test/greatvibes-regular-webfont.svg#great_vibesregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.font-test {
  font: 6em 'great_vibesregular';
}
/* Добавим серый цвет для placeholder */
::-webkit-input-placeholder {
  color: #999999;
}
::-moz-placeholder {
  color: #999999;
}
:-moz-placeholder {
  color: #999999;
}
:-ms-input-placeholder {
  color: #999999;
}
::placeholder {
  color: #999999;
}
