/* Добавим серый цвет для placeholder */
::-webkit-input-placeholder {
  color: #999999;
}
::-moz-placeholder {
  color: #999999;
}
:-moz-placeholder {
  color: #999999;
}
:-ms-input-placeholder {
  color: #999999;
}
::placeholder {
  color: #999999;
}
